@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  color: #000;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  background-color: #fff;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

li {
  list-style: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
